.icon-link {
  text-decoration: none;
  color: inherit;
}

.share-buttons button {
  margin: 5px;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.share-buttons button:hover {
  background-color: #0056b3;
}

.meme-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.meme-card {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}


